#logo{
    width: 80px;
    height: 80px;
}
#home{
    width: 100%;
}
#gambiarra{
    background-color: rgba(6, 7, 7, 0.58);
    color: cadetblue;
    border-radius: 30px;
}
#bglogin{
    height: 600px;
    background-image: url("../imagem/login.teste.jpg");
    background-size: 100%;
}
#login{
    background-color: rgba(6, 7, 7, 0.58);
    width: 300px;
    height: 400px;
    border-radius: 30px;
}
#card1{
    width: auto;
    height: auto;
    
}
